

html{
  font-size: 100%; 
  box-sizing: border-box; 
}

*, *::after, *::before{
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.688rem;
  color: #444;
  display: block;
  
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


